<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000329961719-c1rcjmn18d97h4pq8rn7m5g9p1kk1grq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000329961719-c1rcjmn18d97h4pq8rn7m5g9p1kk1grq</string>
	<key>API_KEY</key>
	<string>AIzaSyDlVuo1QbD4Bjxm6IDmKoXuczG_d41PN8k</string>
	<key>GCM_SENDER_ID</key>
	<string>1000329961719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.infinitywords</string>
	<key>PROJECT_ID</key>
	<string>infinitywords-game</string>
	<key>STORAGE_BUCKET</key>
	<string>infinitywords-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000329961719:ios:1730c938653147cd9533f2</string>
</dict>
</plist>